RewriteEngine On
RewriteBase /

# dosya veya klasör varsa yönlendirme yapma
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# php dosyasını çalıştır (klasörde olsa da çalışır)
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}.php -f
RewriteRule ^(.*)$ $1.php [L]

# ana sayfa
DirectoryIndex index.php

# güvenlik
<Files .htaccess>
    Require all denied
</Files>

<FilesMatch "^(config|functions)\.php$">
    Require all denied
</FilesMatch>

# dizin listeleme kapalı
Options -Indexes
